html, body {
  margin: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  }

body {background-image: url('https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-ffffff-a-345-f-14.svg'); 
  background-size: cover;
  margin: 0px;
}

hero {
  font-weight: bold;
  font-size: 36px;
  font-family: 'Lucida sans', georgia;
color: black; 
}

hero2 {font-size: 36px;
  font-family: 'Lucida sans', georgia;
color: black;
}

.header {
   border: 1px solid #000;
   padding: 20px;
}

.details {
  padding-left: 20px;
}

h2 {
  font-size: 26px;
  font-family: calibri; georgia;
  color: black;
}

h3 {
  font-size: 22px;
  font-family: calibri; georgia;
  color: black;
}

p1 {
  font-style: italic;
  font-size: 18px;
  font-family: calibri; georgia;
  color: black;
  }
  
  p2 {
    font-size: 18px;
  font-family: calibri; georgia;
  color: black;
  }

